.dropdown:hover .dropdown-menu {
    display: block;
 }

 #reqDetalPrizeList{
    padding-left: 15px;
    margin-top: 7px;
 }

 #reqNotimailWrapper, #reqNotimailWrapper2{
    display: none;
 }

#fullRequestFilters label{
    font-weight: normal;
}

#fullRequestFilters input[type=checkbox]{
    position: relative;
    right: 4px;
    top: 2px;
}

#main-table-box table tr th:last-child div{
    width:130px;
}